<div class="container mt-5">

  <div class="row mb-5">
    <div class="col-12 col-md-10 mx-auto">

      {{!-- restaurant detail --}}
      <form action="/restaurants/new" method="POST">
        <p class="mb-4">
          <span class="text-secondary">
            餐廳名稱：
          </span>
          <input type="text" value="" name="name" placeholder="">
        </p>
        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" value="" name="category" placeholder="">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" value="" name="location" placeholder="">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            Google Map：
          </span>
          <input type="text" value="" name="google_map" placeholder="">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="text" value="" name="phone" placeholder="">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            餐廳描述：
          </span>
          <textarea cols="100" row="10" name="description" placeholder=""></textarea>
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            圖片網址：
          </span>
          <input type="text" value="" name="image">
        </p>
        <div class="button-group">
          <button type="submit">Save</button>
          <button><a href="/">Cancel</a></button>
        </div>

      </form>

    </div>
  </div>
</div>